<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/Semantic/semantic.min.css">
        <link rel="stylesheet" href="/assets/app.css">
        <title><%= title %></title>
    </head>
    <body>
        <div style="margin-top:8px;" class="ui raised very padded text container segment center aligned">
            <div>
               <form action="#" method="post">
                    <div class="ui right aligned category search">
                        <div class="ui icon input">
                           <label for="city"><h2>Saisir une ville</h2></label>
                            &emsp;<input class="prompt" type="text" name="city" placeholder="Search town..." required>
                        </div>
                        <button class="ui button" type="submit">Rechercher</button>
                    </div>
               </form>
            </div>
        </div>
        <div style="margin-top:8px;" class="ui raised very padded text container segment">
            <div class="ui equal width center aligned padded grid">
                <div class="row">
                  <div class="column">
                    <a href="/"><i class="icon home"></i>Home</a>
                  </div>
                  <div class="column">
                    <a href="/about"><i class="info circle icon"></i>About</a>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>



